.searchContainer {
  width: 45%;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input {
  width: 70%;
  height: 25px;
  font-size: 15px;
  text-align: center;
  border: none;
}
.searchBtn {
  border: none;
  font-size: 15px;
}
