.navContainer {
  width: 90%;
  height: 60px;

  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(26, 33, 226);
}
.navTitle {
  font-size: 25px;
  color: white;
  margin-right: 5px;
}
.img {
  margin-left: 5px;
  width: 30%;
  height: 90%;
  border-radius: 5px;
}
@media screen and (max-width: 400px) {
  .navContainer {
    height: 30px;
  }
  .navTitle {
    font-size: 15px;
  }
}
